<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Projeto Angular CRUD</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Adicionar Produto</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field>
      <mat-label><mat-icon>search</mat-icon></mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Procurar" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Produto -->
        <ng-container matColumnDef="produtoNome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Produto </th>
          <td mat-cell *matCellDef="let row"> {{row.produtoNome}} </td>
        </ng-container>

        <!-- Categoria -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
        </ng-container>

        <!-- Data -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
          <td mat-cell *matCellDef="let row"> {{row.data | date: 'dd MMMM yyyy' : 'pt-BR'}} </td>
        </ng-container>

        <!-- Qualidade -->
        <ng-container matColumnDef="qualidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualidade </th>
          <td mat-cell *matCellDef="let row"> {{row.qualidade}} </td>
        </ng-container>

        <!-- Preço -->
        <ng-container matColumnDef="preco">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
          <td mat-cell *matCellDef="let row"> {{row.preco | currency : 'R$'}} </td>
        </ng-container>

        <!-- Descrição -->
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
          <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
        </ng-container>

        <!-- Botões de Editar e Deletar -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ação </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editarProduto(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
