<h1 mat-dialog-title>Adicionar Produto</h1>
<div mat-dialog-content>
  <form [formGroup]="produtoForm">
    <mat-form-field appearance="outline">
      <mat-label>Produto</mat-label>
      <input formControlName="produtoNome" matInput placeholder="Digite o nome do produto">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria" placeholder="Selecione a categoria do produto">
        <mat-option value="Frutas">Frutas</mat-option>
        <mat-option value="Vegetais">Vegetais</mat-option>
        <mat-option value="Legumes">Legumes</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Escolha uma data</mat-label>
      <input formControlName="data" matInput [matDatepicker]="picker" value="date | date:'dd/MM/yyyy'">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label for=""><h1>Qualidade do Produto</h1></label>
    <mat-radio-group formControlName="qualidade" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let qualidadeProd of qualidadeProdLista" [value]="qualidadeProd">
        {{qualidadeProd}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input formControlName="preco" matInput type="number" placeholder="Digite o preço do produto">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Observações</mat-label>
      <textarea formControlName="descricao" matInput></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="adicionarProduto()">Salvar</button>
</div>
